body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #6f8e9d;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.add-btn {
  background-color: #254c2e;
}

.edit-btn {
  background-color: #edb818;
}

.delete-btn {
  background-color: #da4b59;
}

.add-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  opacity: 0.9;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  padding: 10px;
  background-color: #803cbc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #23a0a9;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table tr {
    margin-bottom: 15px;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    font-weight: bold;
  }
}
